@using FinancialPortal.Enumerations;

@model FinancialPortal.Models.BankAccount

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Bank Name" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
</div>    
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EnumDropDownListFor(Enum=>Enum.AccountType, "AccountType", htmlAttributes: new { @class = "form-control", placeholder = "Account Type" })
    @Html.ValidationMessageFor(model => model.AccountType, "", new { @class = "text-danger" })
</div>    
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.StartingBalance, new { htmlAttributes = new { @class = "form-control", placeholder = "Starting Balance" } })
    @Html.ValidationMessageFor(model => model.StartingBalance, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.LowBalance, new { htmlAttributes = new { @class = "form-control", placeholder = "Low Balance Warning Level" } })
    @Html.ValidationMessageFor(model => model.LowBalance, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", placeholder = "Address1" } })
    @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", placeholder = "Address2" } })
    @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EnumDropDownListFor(model => model.State, "State", htmlAttributes: new { @class = "form-control", placeholder = "State"  })
    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", placeholder = "Zip Code" } })
    @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone Number" } })
    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
</div>
