@model FinancialPortal.Models.Budget


<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Budegt Category" } })
@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
@Html.EditorFor(model => model.Target, new { htmlAttributes = new { @class = "form-control", placeholder = "Target" } })
@Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-home"></i>
        </span>
    </div>
@Html.EditorFor(model => model.Actual, new { htmlAttributes = new { @class = "form-control", placeholder = "Actual" } })
@Html.ValidationMessageFor(model => model.Actual, "", new { @class = "text-danger" })
</div>







