@using FinancialPortal.Models

@{
    Layout = "/Views/Shared/_SecondLayout.cshtml";
}

@model RegisterViewModel

<div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <div class="card card-login">
        <div class="card-header ">
            <div class="card-header ">
                <h3 class="header text-center">Register</h3>
            </div>
        </div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="nc-icon nc-single-02"></i>
                        </span>
                    </div>
                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "Display Name" })
                    @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="nc-icon nc-single-02"></i>
                        </span>
                    </div>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="nc-icon nc-single-02"></i>
                        </span>
                    </div>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="nc-icon nc-email-85"></i>
                        </span>
                    </div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="nc-icon nc-key-25"></i>
                        </span>
                    </div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="nc-icon nc-key-25"></i>
                        </span>
                    </div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger btn-round btn-block mb-3">Register</button>
            </div>
        }
        <div class="card-footer text-center">
            @Html.ActionLink("I already have a membership", "Login", new { @class = "btn btn-danger btn-round btn-block mb-3" })
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
