@model FinancialPortal.Models.Household

@{
    Layout = "/Views/Shared/_SecondLayout.cshtml";
}

<div class="col-md-10 mr-auto ml-auto">
    <div class="card card-login">
        <div class="card-header">
            <h3 class="header text-center">Create Household</h3>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-home"></i>
                        </span>
                    </div>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-comment"></i>
                        </span>
                    </div>
                    @Html.EditorFor(model => model.Greeting, new { htmlAttributes = new { @class = "form-control", placeholder = "Greeting" } })
                    @Html.ValidationMessageFor(model => model.Greeting, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="card-footer">
                    <button type="submit" class="btn btn-danger btn-round btn-block mb-3">Create</button>
            </div>
        }

                <div class="card-footer">
                    @Html.ActionLink("Back to Lobby", "Lobby", "Home")
                </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
